<style>
  /* Style for product display can be added based on your design requirements */
  @media only screen and (min-width: 750px) {
      .js-wishlistBlock {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          column-gap: var(--grid-desktop-horizontal-spacing);
      }
  }

  .c-product {
      cursor: pointer;
      margin-bottom: 20px;
      position: relative;
  }

  .c-product img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 5px;
      transition: all .5s ease;
  }

  .c-product a:hover img {
      transform: scale(1.03);
        }
      .c-product .removebutton{
          opacity: 1;
          position: absolute;
          right: 0%;
          cursor: pointer;
          transition: all .5s ease;
          background: transparent;
          border: none;
        }

  .c-product h3.c-product__title {
      margin-top: 10px;
      position: relative;
  }
  .wishlist-product__list .wishlist-text a{
  text-decoration: none;
    color: #7c7c7c;
  }
</style>

<div class="recently-title">
  <h2 class="title inline-richtext h2 scroll-trigger animate--slide-in"><b>Wishlist</b></h2>
</div>
<div class="js-wishlistBlock">
  <!-- Wishlist items will be displayed here -->
</div>
